{{>staff-header}}
<h1 class="d-flex justify-content-center text-dark mb-3 mt-3">Staff Dashboard</h1>
<p class="d-flex justify-content-center text-dark">Staff control page ..everthing is organized here</p>

<style>
    body{
         background-color:#fff;
         height:100vh;
    }
</style>
